:root {
  --ff-purple: #271A45;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: var(--ff-purple);
}

body {
  background-color: rgb(23, 22, 24);
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 100vh;
}

#card {
  display: flex;
  gap: 13px;

  width: 875px;
  height: 498px;
  margin: 0 auto;
  
  border-radius: 9.6px;
  background-color: #D9CDF7;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

#display {
  width: 449px;
  height: 253px;
  position: relative;

  background-image: url(./assets/42404.png);
}

#icon {
  width: 33px;
  height: 22.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#display > button {
  position: absolute;
  top: 8px;
  right: 50px;
  border: none;
  background-color: transparent;

  cursor: pointer;
}


.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description p {
  font-weight: 300;
  font-size: 10px;
}

.description h1 {
  margin: 12px 0;

  font-family: 'Crimson Pro';
  font-weight: 600;
  font-size: 32px;
}

.description h2 {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
}

.description button {
  width: fit-content;
  padding: 8px 16px;

  color: var(--ff-purple);
  border-radius: 999px;
  border: 0.5px solid var(--ff-purple);
  background-color: transparent;

  cursor: pointer;
}
